<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Diameter - <%=tank.diameter%> ft</p>
    <p>Length - <%=tank.lengths%> ft</p>
    <p>Width - <%=tank.width%> ft</p>
    <p>Height - <%=tank.height%> ft</p>
    <p>Capacity - <%=tank.capacity%> ltrs</p>
    <p>Available upto <%=tank.layer%> layers</p>
</body>
</html>